{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <h1> Об авторе </h1>
    <div class="row">
        <aside class="col-12 col-md-4">
            <img src='/media/minephoto.jpg' height='400px'><br>
        </aside>
        <article class="col-12 col-md-8">
            <p align="justify">
            Здравтсвуй!<br>
            Я Георгий Прокофьев и мне 26 лет.<br>
            По образованию я экономист (бакалавр) и специалист в области моделирования 
            автоматизированных систем обработки информации, управления и проектирования 
            в строительстве (магистратура).<br>
            Примерно год назад начал самостоятельно заниматься программированием, 
            а именно изучать Python. И вот меня засосало на Яндекс Практикум =)<br>
            </p>
        </article>
    </div>
{% endblock %}