{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<h1> Используемые технологии </h1>
<p>
  Пока скажу одно - к такому меня жизнь не готовила D:<br>
</p>
<div class="row">
  <h2>Вот что я умею</h2>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
  <p>
    Инструменты и стек: #python #HTML #CSS #Django #Bootstrap #Unittest #Pythonanywhere
  </p>
  </article>
</div>
{% endblock %}