{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профиль пользователя 
  {% if author.get_full_name %}
    {{ author.get_full_name }}
  {% else %}
    {{ post.author }} 
  {% endif %}
{% endblock %}
{% block content %}
  <h1>Все посты пользователя 
    {% if author.get_full_name %}
      {{ author.get_full_name }}
    {% else %}
      {{ post.author }} 
    {% endif %}
  </h1>
  <h3>Всего постов: {{ count }} </h3>
  {% if following %}
    <a
      class="btn btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
    {% if user.is_authenticated %}
      <a
        class="btn btn-warning"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
    {% endif %}
  {% endif %}
    <ul>
      <li>
        Автор: 
        {% if author.get_full_name %}
          {{ author.get_full_name }}
        {% else %}
          {{ post.author }} 
        {% endif %}
        - 
        <em><a href={% url 'posts:profile' author.username %}> все посты пользователя</a></em>
      </li>
      {% for post in page_obj %}     
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    {% thumbnail post.image "960x425" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>
      {{ post.text }}
    </p>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">/ все записи группы</a>   
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}